@tailwind utilities;

@layer utilities {
  .bg-blur {
    --tw-backdrop-blur: blur(32px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur);
    backdrop-filter: var(--tw-backdrop-blur);
  }

  .title-gradient {
    background-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      rgb(165, 165, 165),
      rgba(0, 0, 0, 0)
    );
  }
}
